<h1>
    <p style="color:salmon">
    <label><B>Cafeteria Express</B></label>
    </p>
</h1>
<h2>
    <p>
    <button size="large"(click)="navmenu()">Menu</button>
    <button size="large"(click)="navordenes()">Ordenes</button>
    </p>


</h2>

<content>
    <div class="card">
        <div class="card-header">
            <B>Comidas</B>
            <ul>
                <li>Sandwich</li>
                <p>Sandwich de jamon de pavo,queso panela con verduras frescas y tocino</p>
                <p>Precio:$34.99</p>
                <li>Ensalada</li>
                <p>Ensalada de pollo u atun con lechuga,espinacas,tomates cherry,trozos de nueves y arandanos con variedad de aderezos</p>
                <p>Precio:$69.99</p>
                <li>Hamburguesa</li>
                <p>Hamburgues de carne de res con queso manchego,jamon,tocino,salami,verduras frescas y aderezos todo en un pan casero</p>
                <p>Precio:$74.99</p>
            </ul>
            <B>Bebidas</B>
            <ul>
                <li>Soda</li>
                <p>Precio:$22.99</p>
                <li>Limona u Naranjada(natural)</li>
                <p>Precio:$14.99</p>
            </ul>

        </div>
    </div>

</content>